@charset "utf-8";
* {
	margin:0;
}

header {
	background-color: #174C4F;
	height: 20vh;
	
}	

nav {
	background-color: #207178;
	height: 10vh;
}
	
main {
	background-color: #F5E9BE;
}

footer {
	background-color: #207178;
	height: 10vh;
}
	
	
