* {
	margin: 0;
	font-family: Ser;
}

@font-face {
	font-family: Ser;
	src: url(Louis_George_Cafe.ttf);
  }

header {
	background-color: #207178;
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px -8px 8px -5px #174c4f inset;
}

header > p {
	font-size: 12vh;
	font-weight: bolder;
	color: #ffe184;
	white-space: nowrap;
}

nav {
	background-color: #ff9666;
	height: 5vh;
	display: flex;
	align-items: center;
}

main {
	background-color: #f5e9be;
	height: 75vh;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 10px 8px -5px #726c58 inset, 0px -8px 8px -5px #726c58 inset;
}

footer {
	background-color: #ff9666;
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: right;

}

footer > p {
	float: right;
	margin: 6px;
	color: #174c4f;
	font-weight: bold;
	font-size: 2vh;
}

div.oferta {
	background-color: #174c4f;
	border: #207178 solid 2px;
	width: 10vh;
	height: 3vh;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

div.oferta > p {
	color: #ffe184;
	text-align: center;
	font-weight: bold;
	font-size: 2vh;
	cursor: pointer;
}

div.ramka {
	height: 100%;
	display: flex;
	align-items: center;
}

a {
	text-decoration: none;
	color: inherit;
}

@keyframes ani {
	0% {left: -50vh;}
	100% {left: 0vh;}
}

@keyframes ina {
	0% {left: 0vh;}
	100% {left: -50vh;}
}

.jaok iframe {
	width: 50vh;
	height: 30vh;
	border-radius: 0 0 30px 0;
}

.jaok {
	position: absolute;
	top: 20vh;
	left: -50vh;
	animation: ina 1s linear 0s 1 normal forwards;
	display: block;
	visibility: hidden;
	margin: auto;
}

.oferta:hover .jaok, .jaok:hover{
	position: absolute;
	animation-name: ani;
	left: 0;
	display: block;
	animation-duration: 1s;
	visibility: visible;
}

img {
	height: 60vh;
	width: 90vh;
	box-shadow: 3px 4px 10px #726c58;
	border-radius: 20px;
}