* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 12%;
    background-color: rgb(13, 13, 121);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    height: 83%;
    background-color: rgb(153, 153, 247);
    color: rgb(134, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    height: 80%;
    width: 30%;
    background-color: rgba(0, 0, 255, 0.404);
    border: 2px solid rgb(134, 0, 0);;
    border-radius: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#let {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

div {
    width: 90%;
    height: 90%;
    border-radius: 3%;
    text-align: center;
}

h2 {
    margin-top: 2%;
}

img {
    margin-top: 2%;
    height: 90%;
    max-width: 90%;
}

footer {
    height: 5%;
    width: 100%;
    background-color: rgb(7, 7, 66);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}