body, html {
    background-image: linear-gradient(to bottom right, #6BADC9, #F25260);
    height:100%;
}

@font-face {
    font-family: retro_computer;
    src: url(RETRO/retro_computer.ttf);
}

a.one {
    color: #00FF41;
    font-family: retro_computer;
    font-size: 20px;
    text-decoration: none;
}

a.one:hover {
    animation-name: BLINK ;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
}

@keyframes BLINK {
  50% {opacity: 0;}
}
