body, html {
background-color: #000000;
font-family: retro_computer;
height: 99%;
cursor: url('Kursory/Normal Select.cur'), auto;
} 

@font-face {
    font-family: retro_computer;
    src: url(../retro_computer.ttf);
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
  background: #000000; 
}

::-webkit-scrollbar-thumb {
  background: #00FF41; 
}

::-webkit-scrollbar-thumb:hover {
  background: #003B00; 
}

.linia1 {
  border: 10px dashed #00FF41;
  animation-name: LINIA1;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-timing-function: linear;
  
}

@keyframes LINIA1 {
  0%   {border: 10px dashed #00FF41; }
  33%  {border: 10px dashed #008F11; }
  66%  {border: 10px dashed #003B00; }
  100% {border: 10px dashed #0D0208; }
} 

.linia2 {
  border-left: 19px dashed #00FF41;
  border-right: 19px dashed #00FF41;
  animation-name: LINIA2;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-timing-function: linear;
  height: 96.75%;
  margin-bottom: 50px;
}

@keyframes LINIA2 {
  0%   {border-left: 19px dashed #00FF41; border-right: 19px dashed #00FF41; }
  33%  {border-left: 19px dashed #008F11; border-right: 19px dashed #008F11; }
  66%  {border-left: 19px dashed #003B00; border-right: 19px dashed #003B00; }
  100% {border-left: 19px dashed #0D0208; border-right: 19px dashed #0D0208; }
}

.MENU {
  width: 300px;
  height: 75px;
  line-height: 72.5px;
  clip-path: polygon(0 20%, 5% 20%, 5% 0, 95% 0, 95% 20%, 100% 20%, 100% 80%, 95% 80%, 95% 100%, 5% 100%, 5% 80%, 0 80%);
  text-align: center;
  font-size: 45px;
  animation-name: GAME;
  animation-duration: 30s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  margin: 10px;
  font-weight: bold;
}

@keyframes GAME {
  0%   {background-color: #00FF41; left: 0%; color: #0D0208;}
  33%  {background-color: #008F11; color: #003B00;}
  66%  {background-color: #003B00; left: calc((100% - 319px)/0,25); color: #008F11;}
  100% {background-color: #0D0208; left: calc(100% - 319px); color: #00FF41;}
}

a.koniec {
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    position:absolute;
    bottom: 8px;
}

a.koniec:hover {
    cursor: url('Kursory/Link Select.cur'), auto;
    animation-name: BLINK ;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
}

@keyframes BLINK {
  50% {opacity: 0;}
}